/ {
    compatible = "espressif,esp32";

    pendant_switches {
        compatible = "gpio-keys";
        status = "okay";

        /* Axis rotary switch (3-position) */
        axis_x {
            gpios = <&gpio0 17 GPIO_ACTIVE_HIGH>;
            label = "AXIS_X";
            zephyr,code = <1>;
        };
        axis_y {
            gpios = <&gpio0 18 GPIO_ACTIVE_HIGH>;
            label = "AXIS_Y";
            zephyr,code = <2>;
        };
        axis_z {
            gpios = <&gpio0 19 GPIO_ACTIVE_HIGH>;
            label = "AXIS_Z";
            zephyr,code = <3>;
        };

        /* Scale rotary switch (3-position) */
        scale_x1 {
            gpios = <&gpio0 21 GPIO_ACTIVE_HIGH>;
            label = "SCALE_X1";
            zephyr,code = <4>;
        };
        scale_x10 {
            gpios = <&gpio0 22 GPIO_ACTIVE_HIGH>;
            label = "SCALE_X10";
            zephyr,code = <5>;
        };
        scale_x100 {
            gpios = <&gpio0 23 GPIO_ACTIVE_HIGH>;
            label = "SCALE_X100";
            zephyr,code = <6>;
        };
    };

    pendant_encoder: rotary-encoder {
        compatible = "rotary-encoder";
        status = "okay";
        a-gpios = <&gpio0 15 GPIO_ACTIVE_HIGH>;
        b-gpios = <&gpio0 16 GPIO_ACTIVE_HIGH>;
    };
};

&pinctrl {
    uart1_default: uart1_default {
        group1 {
            pinmux = <UART1_TX_GPIO25>,
                     <UART1_RX_GPIO26>;
        };
    };
};

&uart1 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&uart1_default>;
    pinctrl-names = "default";
};
